
.gallery {
  width: 1200px;
  margin: 0 auto;   　/*全体をセンタリングしています。*/
  background-color: #ffffff;
}
.gallery img {
  border: 0;  /*サムネイル画像としたときリンク外枠が入らないようにします。*/
  width: 160px;
  height: 110px;
}
.gallery dl {
  float: left;
  width: 160px;
  margin-right: 5px;
  margin-bottom: 1em;
  padding: 0;
  font-size: 14px;　　/*文字サイズは崩れないようにするため固定にします。*/
  background-color: #ffffdd;
  border:1px solid #993333;
}
.gallery dt {
  margin: 0;
  padding: 0 0.5em;
  color: white;
  font-weight: bold;
  text-align: left;
  background-color: green;
}
.gallery dd {
  margin: 0;
  padding: 0;
}
dd.comment {
  height: 20px;       /*コメント欄の文字数によって調整してください。*/
  padding: 0 5px;
  line-height: 1.3;
}
dd.price {
  height: 1.2em;
  margin: 0;
  padding: 0 0.5em;
  text-align: right;
  background-color: #ccffcc;
}